.Modal .hide{
    display: none;
}
.modal{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
}
.modal__overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal__body{
    margin: auto; /*Căn giữa khi có flex*/
    position: relative;
    background-color: white;
    border-radius: 5px;
    z-index: 2;
}
.modal__body .close{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
    color: #D63447 !important;
}
.modal__inner{
    padding: 2rem 2rem 1.2rem;
    text-align: left;
}
.modal__inner input{
    width: 100%;
    padding: 0.5rem;
    outline: none;
}
.btn{
    width: 100px;
    float: right;
    border: none;
    border-radius: 3px;
    padding: 0.5rem;
    margin:1rem 0 1.5rem;
    color: white;
}
.btn:focus{
    outline: none;
}
.decline{
    background: #6dbec8;
}